.container-banner {
  width: 100%;
  height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  overflow: hidden;
}
.container-banner a {
  padding: 5px;
  margin: 0;
  text-decoration: none;
  color: rgb(26, 33, 169);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 15px;
}
.container-banner.banner {
  /* background-image: url('../assets/app/bg-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
  /* background-position: center; */
  width: 100%;
  height: 100%;
}
.container-banner .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
  overflow: hidden;
}

@media screen and (width > 538px) {
  .container-banner {
    height: 30vh;
  }
}

@media screen and ( width > 768px) {
  .container-banner {
    height: 35vh;
  }
}
@media screen and ( width > 1113px) {
  .container-banner {
    height: 40vh;
  }
}
@media screen and ( width > 1388px) {
  .container-banner {
    height: 45vh;
  }
}
