:root {
  /* colores y fuente temporal */
  --bg-color: #F8F9FA;
  --main-text-color: #212529;
  --main-btn-color: #03224e;
  --main-hover-color-light: #cc7d29;
  --footer-text-color: #27292181;
  --border-color: #dbd764;
  --btn-transition: all 0.2 ease-in-out;
  --btn-active-transform: scale(.92);
  --btn-border: 3px groove var(--main-btn-color);
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.main-bg {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

.main {
  width: 90%;
  margin: 0 auto;
  max-width: 768px;
  min-height: 100vh;
  padding: 1rem;
}

a {
  padding: 2px;
  margin: 0;
  text-decoration: none;
  color: var(--main-btn-color);
  border-radius: 5px;
  transition: var(--btn-transition);
}
a:hover {
  background-color: var(--main-hover-color-light);
  transform: scale(1.1);
  border: 2px solid var(--main-btn-color);
  border-style: none;
}

button {
  margin: 0;
  border-style: none;
  text-decoration: none;
  font-size: 1em;
  padding: 6px 10px;
  background-color: var(--main-btn-color);
  color: var(--bg-color);
  border: 3px groove var(--border-color);
  border-radius: 8px;
  transition-property: all 0.9s linear var(--btn-transition);
  cursor: pointer;
  &.btn-reset {
    background-color: var(--bg-color);
    color: var(--main-text-color);
  }
}
button:hover {
  transition: var(--btn-transition);
  background-color: var(--main-hover-color-light);
  border: var(--btn-border);
}
button:active {
  transform: var(--btn-active-transform);
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

textarea {
  resize: none;
}

footer img {
  display: block;
}

* {
  box-sizing: border-box;
}

@media screen and (width > 768px) {
  .main {
    max-width: 1024px;
  }
}

@media screen and ( width > 1024px ) { 
  .main {
    max-width: 1200px;
  }
}

@media screen and ( width > 1280px ) {
  .main {
    max-width: 1400px;
  }
}
@media screen and ( width > 1920px ) {
  .main {
    max-width: 1600px;
  }
}