.main {
  animation: fadein-page 2s ease;
}
@keyframes fadein-page {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.fade-container {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.fade-in {
  display: flex;
  justify-content: center;
}
.fade-in video {
  width: 80%;
  display: block;
  border-radius: 15px;
  animation: fadein 4s ease-in forwards;
}
@keyframes fadein {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 80%;
    opacity: 1;
  }
}
.list-portfolio.fade-container video{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
}
.container-iframe {
  display: flex;
  justify-content: center;
}
.container-iframe iframe{
  max-width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  box-shadow: black 0px 0px 10px;
  border: 2px solid #dbd764;
  border-radius: 15px;
}