.footer {
  text-align: center;
  font-style: italic;
  color: var(--footer-text-color);
  padding: 1em;
  .socials {
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}