form {
  border-radius: 8px;
  padding: 2em 1em ;
  textarea, input {
    border: 2px groove var(--border-color);
    padding: 5px;
    border-radius: 4px;
  }
}
.container-form {
  font-weight: 600;
  box-shadow: #998585 0px 0px 10px;
}
.form-contact {
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
fieldset {
  font-weight: 200;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-content: center;
  gap: 10px;
  legend {
    display: none;
  }
  
}
input[type='radio'] {
  accent-color: var(--main-hover-color-light);
  cursor: pointer;
}
.form-contact.newsletter {
  font-weight: 100;
  margin: 0 0 1em 5px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.btn-actions {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

@media screen and ( width > 768px ) {
  .data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
