.container-form {
  font-weight: 600;
  box-shadow: #585642 0px 0px 10px;
  border-radius: 8px;
  padding: 2em 1em;
  textarea, input {
    border: 2px groove var(--border-color);
    padding: 10px;
    border-radius: 4px;
    outline: none;
  }
  input[type='text']:not(:focus), input[type='tel']:not(:focus), textarea:not(:focus) {
    box-shadow: #d7eabd 0px 0px 5px;
  }
  input[type='text']:focus, input[type='tel']:focus, textarea:focus {
    box-shadow: #127f2b 0px 0px 8px;
  }
  input[type='checkbox'] {
    accent-color: rgb(29, 159, 29);
  }
}
.required {
  font-weight: 600;
  color: rgb(255, 0, 0);
}
.container-form legend {
  display: none;
}
.container-form .form-contact {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-contact, label {
  margin-bottom: 5px;
}
.form-contact fieldset {
  font-weight: 200;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-content: center;
  gap: 10px;
}
.form-contact, input[type='radio'] {
  accent-color: var(--main-hover-color-light);
  cursor: pointer;
}
.form-contact.newsletter {
  font-weight: 100;
  margin: 0 0 1em 5px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

@media screen and ( width > 768px ) {
  .data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media screen and ( width > 1024px ) {
  .container-form {
    padding: 5vw;
  }
  .form-contact .form-contact.newsletter {
    margin: 25px; 
  }
}