.header {
  background-color: var(--main-text-color);
  position: sticky;
  top: 0px;
  z-index: 1;
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.hr {
  width: 100%;
  border: none;
  margin: 0;
  border-top: 3px groove #dbd764;
  position: fixed;
  z-index: 0;
}

.logo-header img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 3px double #dbd764;
  border-radius: 50%;
  max-width: 85px;
  max-height: 85px;
}
.logo-header a {
  display: inline;
}

.title {
  display: flex;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  .navbar-list, a {
    margin: 0 auto;
    padding: 5px;
    font-size: 1.1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    a {
      color: white;
    }
    a:hover {
      color: black;
    }
  }
}
.menu-toggle {
  display: none;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

@media screen and (width < 769px) {
  .navbar {
    display: none;
    position: absolute;
    top: 60px;
    right: 25px;
    padding: 10px;
    margin-right: 20px;
    flex-direction: column;
    border-radius: 8px;
    background: #0c0c08;
    opacity: 0.9;
  }
  .navbar-list {
    flex-direction: column;
    gap: 10px;
  }
  .menu-btn {
    display: block;
    cursor: pointer;
    transition: all 0.4s;
  }
  .menu-btn:hover {
    transform: scale(1.1);
  }
  .menu-toggle:checked ~ .navbar {
    display: flex;
    flex-direction: column;
    border: 2px solid #dbd764;
  }
}
@media screen and (width > 768px) {
  .header {
    display: flex;
    justify-content: space-evenly;
  }
}
