.content-portfolio {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  /* padding-top: 15px;
  background-color: #370606;
  opacity: 0.6; */
}
.list-portfolio ul li{
  padding: 0;
  margin: 0;
  list-style: none;
}
.list-portfolio {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 0;
  /* grid-template-columns: repeat(2, 1fr); */
  /* img {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
}
.link-portfolio {
  animation: portfolio infinite 2s ease-in-out;
}
@keyframes portfolio {
  50% { transform: translateY(30px); }
}
.name-proyect {
  text-align: center;
  font-weight: 200;
  font-size: 12px;
  padding: 0;
}

.list-portfolio a img {
  justify-self: center;
  border: 5px groove var(--border-color);
  width: 100%;
  box-shadow:rgb(0, 0, 0) 0px 0px 10px;
  transition: transform 0.4s ease-in-out;
  margin-bottom: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.list-portfolio a img:hover {
  box-shadow: #370606 0px 0px 20px;
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and ( width > 768px) {
  .list-portfolio {
    grid-template-columns: repeat(3, 1fr);
    img {
      max-width: 200px;
    }
  }
}

@media screen and ( width > 1024px ) {
  .list-portfolio {
    grid-template-columns: repeat(3, 1fr);
  }
  .list-portfolio img {
      max-width: 350px;
  }  
  .name-proyect {
      font-size: 1rem;
  }
}