.skills {
  width: 100%;
  padding-bottom: 1rem;
}
/* Se comenta por poner los titulos de las barras de progreso ocultas */
/* .skills span {
  display: block;
  font-weight: 200;
  padding-bottom: 5px;
} */
.list-skills {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-skills li {
  padding: 3px;
}
.progress-bar {
  width: 100%;
  text-align: end;
  background-color: var(--bg-color);
  border-radius: 15px;
  margin-bottom: 3px;
  border: 2px groove var(--border-color);
  padding: 2px;
}

.progress {
  height: 20px;
  background: linear-gradient(90deg, #d17b13bb, #8bc34a);
  border-radius: 15px;
  animation: skills-progress 3s ease-in-out forwards;
}
.icon-progress {
  width: 25px;
  height: 20px;
}

@keyframes skills-progress {
  0% {
    width: 1%;
  }
  100% {
    width: var(--progress);
  }
}
.js[data-progress="50"] { --progress: 50%; }
.python[data-progress="45"] { --progress: 45%; }
.html[data-progress="80"] { --progress: 80%; }
.css[data-progress="60"] { --progress: 60%; }
.git[data-progress="75"] { --progress: 75%; }
.ts[data-progress="35"] { --progress: 35%; }

@media screen and (width > 768px) {
  .list-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and ( width > 1024px ) {
  .list-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}